@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

#timer{
    margin-top: -20vh;
    font-family: 'Playwrite US Modern', cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}
